@implements IDisposable

@inject IAuthenticationUIProvider AuthenticationUIProvider
@inject NavigationManager Navigation
@inject IServiceProvider ServiceProvider

@* @inject IExternalAuthenticationStateProvider AuthenticationStateProvider *@
@* @inject IExternalAuthenticationStateProvider AuthenticationStateProvider *@
@* @inject IAuthService? AuthService *@

<AuthorizeView>
    <Authorized>
        <div class="login-display">
            @* <div>Hello, <a href="/profile" class="mx-0">@GetName().Result</a>!</div> *@
            <span class="user-name">Hello, @context.User.Identity?.Name!</span>
            @switch (AuthenticationUIProvider.LogoutActionType)
            {
                case AuthenticationUIActionType.Link:
                    <a href="@string.Concat(AuthenticationUIProvider.GetLogoutUrl()
                        // , $"&returnUrl={Uri.EscapeDataString(currentUrl ?? "")}"
                    )" class="logout-link">Logout</a>
                    break;
                case AuthenticationUIActionType.Form:
                    <form action="@AuthenticationUIProvider.GetLogoutUrl()" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                    break;
                case AuthenticationUIActionType.Code:
                    <button class="btn btn-link logout-button" @onclick="LogoutAsync">Logout</button>
                    break;
                default:
                    break;
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="login-display">
            @switch (AuthenticationUIProvider.LoginActionType)
            {
                case AuthenticationUIActionType.Link:
                    <a href="@AuthenticationUIProvider.GetLoginUrl()" class="login-link">Login</a>
                    break;
                case AuthenticationUIActionType.Form:

                    break;
                case AuthenticationUIActionType.Code:
                    <button class="btn btn-link login-button" @onclick="LoginAsync">Login</button>
                    break;
                default:
                    break;
            }
        </div>
    </NotAuthorized>
</AuthorizeView>



@* <AuthorizeView>
    <Authorized>
        <form action="./authentication/logout" method="post">
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
            <div class="mx-0 d-flex align-items-center gap-2">
                <div>Hello, <a href="/profile" class="mx-0">@GetName().Result</a>!</div>
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </div>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="./authentication/login">Login</a>
    </NotAuthorized>
</AuthorizeView> *@

@code{
    private IExternalAuthenticationStateProvider? authStateProvider { get; set; }

    private async Task LoginAsync()
    {
        authStateProvider = ServiceProvider.GetService(typeof(AuthenticationStateProvider)) as IExternalAuthenticationStateProvider;
        if (authStateProvider is not null)
        {
            try
            {
                var authProvider = (IExternalAuthenticationStateProvider)authStateProvider;
                if (authProvider is not null)
                {
                    await authProvider.LogInAsync();

                    var state = await authStateProvider.GetAuthenticationStateAsync();
                    if (state.User.Identity?.IsAuthenticated == true)
                    {
                        Navigation.NavigateTo("/");
                    }
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Login failed: {ex.Message}");
            }
        }
    }

    private async Task LogoutAsync()
    {
        authStateProvider = ServiceProvider.GetService(typeof(AuthenticationStateProvider)) as IExternalAuthenticationStateProvider;
        if (authStateProvider is not null)
        {
            var authProvider = (IExternalAuthenticationStateProvider)authStateProvider;
            if (authProvider is not null)
            {
                await authProvider.LogoutAsync();

                var state = await authStateProvider.GetAuthenticationStateAsync();
                if (state.User.Identity?.IsAuthenticated == true)
                {
                    Navigation.NavigateTo("/", forceLoad: true);
                }
            }
        }
    }

    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = Navigation.Uri;
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = Navigation.Uri;
        StateHasChanged();
    }

    public void Dispose() => Navigation.LocationChanged -= OnLocationChanged;

    // private async Task<string?> GetName() 
    // {
    //     var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

    //     return authState?.User?.Identity?.Name;
    // }
}
