@page "/books"
@* @using Blazored.Modal
@using Blazored.Modal.Services *@
@using BookShelves.Shared.Data.Interfaces
@inject IBookFactory BookFactory
@inject IBooksDataService DataService 
@inject ILogger<Index> Logger
@inject IDialogService DialogService
@attribute [Authorize(Roles = "Administrator")]

<h1>Books</h1>

<div>
    <button @onclick="(() => AddAsync())" class="btn btn-primary">Add Book</button>
</div>

<p>@message</p>

@if (Books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col"><div class="fw-bold mb-1">Title</div><div class="text-muted mb-0">Author</div></th>
                @* <th scope="col">Title</th>
                <th scope="col">Author</th> *@
                <th scope="col">Last Update</th>
                <th></th>
@*                <th>Temp. (F)</th>
                <th>Summary</th>
*@            </tr>
        </thead>
        <tbody>
            @foreach (var book in Books)
            {
                <tr>
                    <th scope="row">@book.IdValue</th>
                    <td><div class="fw-normal mb-1">@book.Title</div><div class="text-muted mb-0">@book.Author</div></td>
                    @* <td>@book.Title</td>
                    <td>@book.Author</td> *@
                    <td>@book.LastUpdateTime</td>
                    <td>
                        <input type="button" class="btn btn-primary" @onclick="(() => EditAsync(book))" value="Edit" />
                        <input type="button" class="btn btn-primary" @onclick="(() => DeleteAsync(book))" value="Delete" />
                    </td>
@*                  <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
*@                </tr>
            }
        </tbody>
    </table>

    <MudDialogProvider />
}

@code {
    #if NET10_0
    [PersistentState]
    #endif
    public IEnumerable<IBook>? Books { get; set; } // = new List<IBook>();

    private string message = string.Empty;

    // [CascadingParameter]
    // public IModalService Modal { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Books ??= await DataService.GetBooksAsync();
        }
        catch (Microsoft.Identity.Client.MsalUiRequiredException ex)
        {
            // ConsentHandler.HandleConsentRequiredException(ex);
            // HandleMsalException(ex);
        }
        catch(NavigationException)
        {
            
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "BookShelves.Shared.Components.Pages.Books.Index:OnInitializedAsync-Exception");
        }
    }

    private async void ShowDetailAsync(IBook book, string titleText)
    {
        var parameters = new DialogParameters<BookDetail> { { x => x.BookObject, book }, { x => x.TitleText, titleText } };

        // var parameters = new ModalParameters()
        //     .Add(nameof(BookDetail.BookObject), book)
        //     .Add(nameof(BookDetail.TitleText), titleText);
        // var options = new ModalOptions() { UseCustomLayout = true };
        try
        {
            // var form = Modal.Show<BookDetail>("Book Modal", parameters, options);
            var dialog = await DialogService.ShowAsync<BookDetail>("Book Details", parameters);
            var result = await dialog.Result;
            if (!result.Canceled)
            {
                message = result?.Data?.ToString() ?? "";

                Books = await DataService.GetBooksAsync() ?? new List<IBook>() { };
            }
            else
            {
                if (String.IsNullOrEmpty(book.IdValue))
                    message = "Add canceled";
                else
                    message = "Edit canceled";
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "BookShelves.Shared.Components.Pages.Books.Index:ShowDetailAsync-Exception");
        }
    }

    private void AddAsync()
    {
        var book = InitializeBookObject();
        ShowDetailAsync(book, "New Book");
    }

    private void EditAsync(IBook book)
    {
        ShowDetailAsync(book, "Edit Book");
    }

    private async void DeleteAsync(IBook book)
    {
        var parameters = new DialogParameters<BookDelete> { { x => x.BookObject, book } };
        // var options = new DialogOptions() { UseCustomLayout = true };
        var dialog = await DialogService.ShowAsync<BookDelete>("Book Modal", parameters);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            var deleteResult = await DataService.DeleteBookAsync(book);

            if (deleteResult)
            {
                message = $"'{book.Title}' deleted";

                Books = await DataService.GetBooksAsync() ?? new List<IBook>() { };
            }
            StateHasChanged();
        }
        else
        {
            message = "Delete canceled";
            StateHasChanged();
        }
    }

    private IBook InitializeBookObject()
    {
        return BookFactory.CreateBook();
    }
}
